
nav{
  display: flex;
  list-style-type: none;

}
button{
  margin-left: auto;
  height: 4vh;
  width: 10vw;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-shadow: 9px 5px 5.9px white;
  border-color: white;
}
.clock{
  display: flex;
border: 3px solid black;
width: 400px;
height: 130px;
justify-content: center;
align-items: center;
font-size: xx-large;
border-radius: 25px;
margin-left: 34vw;
margin-top: 30vh;
}
.minutes{
  margin-left: 10px;
}
.seconds{
  margin-left: 10px;
}
